@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: 'Segoe UI','Kiwi Maru', 'sans-serif';
}

h1, h2, h3, h4, h5, h6, p, div, ul, li, ol, article, aside, header, footer, nav, section, nav {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

table, td, th {
  border-collapse: collapse;
}

.container {
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

img {
  display: block;
}

.col-1 {
  flex: 0 0 8.33333%;
}

.col {
  flex: 1 0 0;
}

.col-2 {
  flex: 0 0 16.66667%;
}

.col {
  flex: 1 0 0;
}

.col-3 {
  flex: 0 0 25%;
}

.col {
  flex: 1 0 0;
}

.col-4 {
  flex: 0 0 33.33333%;
}

.col {
  flex: 1 0 0;
}

.col-5 {
  flex: 0 0 41.66667%;
}

.col {
  flex: 1 0 0;
}

.col-6 {
  flex: 0 0 50%;
}

.col {
  flex: 1 0 0;
}

.col-7 {
  flex: 0 0 58.33333%;
}

.col {
  flex: 1 0 0;
}

.col-8 {
  flex: 0 0 66.66667%;
}

.col {
  flex: 1 0 0;
}

.col-9 {
  flex: 0 0 75%;
}

.col {
  flex: 1 0 0;
}

.col-10 {
  flex: 0 0 83.33333%;
}

.col {
  flex: 1 0 0;
}

.col-11 {
  flex: 0 0 91.66667%;
}

.col {
  flex: 1 0 0;
}

.col-12 {
  flex: 0 0 100%;
}

.col {
  flex: 1 0 0;
}

@media (min-width: 0px) {
  .container {
    width: 0px;
    margin: auto;
  }
  .col-all-1 {
    flex: 0 0 8.33333%;
  }
  .col-all {
    flex: 1 0 0;
  }
  .col-all-2 {
    flex: 0 0 16.66667%;
  }
  .col-all {
    flex: 1 0 0;
  }
  .col-all-3 {
    flex: 0 0 25%;
  }
  .col-all {
    flex: 1 0 0;
  }
  .col-all-4 {
    flex: 0 0 33.33333%;
  }
  .col-all {
    flex: 1 0 0;
  }
  .col-all-5 {
    flex: 0 0 41.66667%;
  }
  .col-all {
    flex: 1 0 0;
  }
  .col-all-6 {
    flex: 0 0 50%;
  }
  .col-all {
    flex: 1 0 0;
  }
  .col-all-7 {
    flex: 0 0 58.33333%;
  }
  .col-all {
    flex: 1 0 0;
  }
  .col-all-8 {
    flex: 0 0 66.66667%;
  }
  .col-all {
    flex: 1 0 0;
  }
  .col-all-9 {
    flex: 0 0 75%;
  }
  .col-all {
    flex: 1 0 0;
  }
  .col-all-10 {
    flex: 0 0 83.33333%;
  }
  .col-all {
    flex: 1 0 0;
  }
  .col-all-11 {
    flex: 0 0 91.66667%;
  }
  .col-all {
    flex: 1 0 0;
  }
  .col-all-12 {
    flex: 0 0 100%;
  }
  .col-all {
    flex: 1 0 0;
  }
}

@media (min-width: 520px) {
  .container {
    width: 520px;
    margin: auto;
  }
  .col-sm-1 {
    flex: 0 0 8.33333%;
  }
  .col-sm {
    flex: 1 0 0;
  }
  .col-sm-2 {
    flex: 0 0 16.66667%;
  }
  .col-sm {
    flex: 1 0 0;
  }
  .col-sm-3 {
    flex: 0 0 25%;
  }
  .col-sm {
    flex: 1 0 0;
  }
  .col-sm-4 {
    flex: 0 0 33.33333%;
  }
  .col-sm {
    flex: 1 0 0;
  }
  .col-sm-5 {
    flex: 0 0 41.66667%;
  }
  .col-sm {
    flex: 1 0 0;
  }
  .col-sm-6 {
    flex: 0 0 50%;
  }
  .col-sm {
    flex: 1 0 0;
  }
  .col-sm-7 {
    flex: 0 0 58.33333%;
  }
  .col-sm {
    flex: 1 0 0;
  }
  .col-sm-8 {
    flex: 0 0 66.66667%;
  }
  .col-sm {
    flex: 1 0 0;
  }
  .col-sm-9 {
    flex: 0 0 75%;
  }
  .col-sm {
    flex: 1 0 0;
  }
  .col-sm-10 {
    flex: 0 0 83.33333%;
  }
  .col-sm {
    flex: 1 0 0;
  }
  .col-sm-11 {
    flex: 0 0 91.66667%;
  }
  .col-sm {
    flex: 1 0 0;
  }
  .col-sm-12 {
    flex: 0 0 100%;
  }
  .col-sm {
    flex: 1 0 0;
  }
}

@media (min-width: 720px) {
  .container {
    width: 720px;
    margin: auto;
  }
  .col-md-1 {
    flex: 0 0 8.33333%;
  }
  .col-md {
    flex: 1 0 0;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
  }
  .col-md {
    flex: 1 0 0;
  }
  .col-md-3 {
    flex: 0 0 25%;
  }
  .col-md {
    flex: 1 0 0;
  }
  .col-md-4 {
    flex: 0 0 33.33333%;
  }
  .col-md {
    flex: 1 0 0;
  }
  .col-md-5 {
    flex: 0 0 41.66667%;
  }
  .col-md {
    flex: 1 0 0;
  }
  .col-md-6 {
    flex: 0 0 50%;
  }
  .col-md {
    flex: 1 0 0;
  }
  .col-md-7 {
    flex: 0 0 58.33333%;
  }
  .col-md {
    flex: 1 0 0;
  }
  .col-md-8 {
    flex: 0 0 66.66667%;
  }
  .col-md {
    flex: 1 0 0;
  }
  .col-md-9 {
    flex: 0 0 75%;
  }
  .col-md {
    flex: 1 0 0;
  }
  .col-md-10 {
    flex: 0 0 83.33333%;
  }
  .col-md {
    flex: 1 0 0;
  }
  .col-md-11 {
    flex: 0 0 91.66667%;
  }
  .col-md {
    flex: 1 0 0;
  }
  .col-md-12 {
    flex: 0 0 100%;
  }
  .col-md {
    flex: 1 0 0;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: auto;
  }
  .col-lg-1 {
    flex: 0 0 8.33333%;
  }
  .col-lg {
    flex: 1 0 0;
  }
  .col-lg-2 {
    flex: 0 0 16.66667%;
  }
  .col-lg {
    flex: 1 0 0;
  }
  .col-lg-3 {
    flex: 0 0 25%;
  }
  .col-lg {
    flex: 1 0 0;
  }
  .col-lg-4 {
    flex: 0 0 33.33333%;
  }
  .col-lg {
    flex: 1 0 0;
  }
  .col-lg-5 {
    flex: 0 0 41.66667%;
  }
  .col-lg {
    flex: 1 0 0;
  }
  .col-lg-6 {
    flex: 0 0 50%;
  }
  .col-lg {
    flex: 1 0 0;
  }
  .col-lg-7 {
    flex: 0 0 58.33333%;
  }
  .col-lg {
    flex: 1 0 0;
  }
  .col-lg-8 {
    flex: 0 0 66.66667%;
  }
  .col-lg {
    flex: 1 0 0;
  }
  .col-lg-9 {
    flex: 0 0 75%;
  }
  .col-lg {
    flex: 1 0 0;
  }
  .col-lg-10 {
    flex: 0 0 83.33333%;
  }
  .col-lg {
    flex: 1 0 0;
  }
  .col-lg-11 {
    flex: 0 0 91.66667%;
  }
  .col-lg {
    flex: 1 0 0;
  }
  .col-lg-12 {
    flex: 0 0 100%;
  }
  .col-lg {
    flex: 1 0 0;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: auto;
  }
  .col-xl-1 {
    flex: 0 0 8.33333%;
  }
  .col-xl {
    flex: 1 0 0;
  }
  .col-xl-2 {
    flex: 0 0 16.66667%;
  }
  .col-xl {
    flex: 1 0 0;
  }
  .col-xl-3 {
    flex: 0 0 25%;
  }
  .col-xl {
    flex: 1 0 0;
  }
  .col-xl-4 {
    flex: 0 0 33.33333%;
  }
  .col-xl {
    flex: 1 0 0;
  }
  .col-xl-5 {
    flex: 0 0 41.66667%;
  }
  .col-xl {
    flex: 1 0 0;
  }
  .col-xl-6 {
    flex: 0 0 50%;
  }
  .col-xl {
    flex: 1 0 0;
  }
  .col-xl-7 {
    flex: 0 0 58.33333%;
  }
  .col-xl {
    flex: 1 0 0;
  }
  .col-xl-8 {
    flex: 0 0 66.66667%;
  }
  .col-xl {
    flex: 1 0 0;
  }
  .col-xl-9 {
    flex: 0 0 75%;
  }
  .col-xl {
    flex: 1 0 0;
  }
  .col-xl-10 {
    flex: 0 0 83.33333%;
  }
  .col-xl {
    flex: 1 0 0;
  }
  .col-xl-11 {
    flex: 0 0 91.66667%;
  }
  .col-xl {
    flex: 1 0 0;
  }
  .col-xl-12 {
    flex: 0 0 100%;
  }
  .col-xl {
    flex: 1 0 0;
  }
}

[class^="col"] {
  padding-left: 10px;
  padding-right: 10px;
}

body {
  color: #1a2d51;
  margin: 0;
  background: #F5F4F1;
  font-size: 1.2rem;
}

.d-flex {
  display: flex;
}

nav li {
  list-style: none;
  /*將清單序號關閉*/
  padding: 0 20px;
}

.z-top {
  z-index: 99;
}

.ul-0 {
  position: absolute;
  width: 100%;
  top: 10px;
}

.ul-0 img {
  width: 25px;
}

.ul-0 .top-r {
  position: absolute;
  right: 10%;
}

.ul-1 li:nth-of-type(1) {
  border-right: 1px solid #14274c;
}

.ul-1 li:nth-of-type(2) {
  border-right: 1px solid #14274c;
}

.ul-2 li:nth-of-type(1) {
  border-right: 1px solid #14274c;
}

a {
  text-decoration: none;
  /*取消超連結底線*/
  color: #1a2d51;
  transition: 0.2s ease-in-out;
}

nav {
  background: #F5F4F1;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 100px 0vw 45px;
  font-size: 16px;
  align-items: center;
  z-index: 9;
}

nav ul,
nav a {
  display: flex;
}

nav .logo {
  width: 280px;
  height: 280px;
  display: flex;
  position: absolute;
  margin: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../images/bg_logo.png") no-repeat center bottom;
  background-size: 320px 320px;
}

nav .logo img {
  background: transparent;
  width: 150px;
  margin: auto;
}

nav .cart {
  width: 100px;
  height: 100px;
  background-color: #14274c;
  color: #fff;
  position: fixed;
  right: 0;
  top: 0;
  display: block;
  text-align: center;
  z-index: 99;
}

nav .cart img {
  width: 20px;
  height: 20px;
  margin: 30px auto 0;
}

nav .cart:hover {
  background-color: #2e4f91;
}

.bg {
  width: 100%;
  height: 15px;
  position: absolute;
  background: url("../images/texture_top.png") repeat-x;
  background-position: center bottom 0;
  background-size: 340px auto;
  z-index: 99;
  bottom: -10px;
}

.arrow {
  background: url("../images/arrow_right.png") no-repeat right 6px top 0.5em;
  background-size: 23px auto;
  padding: 2px 34px 3px 0;
  transition: 0.2s ease-in-out;
}

.arrow:hover {
  background: url("../images/arrow_right.png") no-repeat right 3px top 0.5em;
  background-size: 23px auto;
  padding: 2px 34px 3px 0;
  transition: 0.2s ease-in-out;
}

.arrow-r {
  margin: auto;
  text-align: right;
}

header {
  width: 88%;
  height: calc(100vh - 169px);
  margin: auto;
  display: flex;
  justify-content: end;
  position: relative;
}

header img:nth-of-type(1) {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

header .header-content {
  position: absolute;
  color: cornsilk;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  /*垂直由右而左*/
  font-size: 1.5rem;
  padding: 20px;
  z-index: 99;
}

.mount-right,
.mount-left {
  width: 400px;
  position: absolute;
  vertical-align: top;
}

.mount-right img,
.mount-left img {
  width: 100%;
  height: 100%;
}

.mount-right {
  right: 0;
  bottom: 0;
}

.mount-left {
  left: 0;
  bottom: 0;
}

#feature {
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
  background: #fcfaf7;
}

#feature img {
  width: 100%;
}

#feature .feature-items {
  padding: 0 40px;
  position: relative;
}

#feature .feature-items:nth-of-type(3) {
  top: 100px;
}

#feature .feature-items .feature-content {
  text-align: center;
  margin-top: 30px;
}

#feature .feature-items .feature-content img {
  margin: auto;
  width: 60px;
}

#feature .feature-items .bird {
  -webkit-clip-path: initial;
          clip-path: initial;
  position: absolute;
  top: -100px;
  right: 30px;
  width: 100px;
}

#feature .feature-items .yuzu {
  position: absolute;
  -webkit-clip-path: initial;
          clip-path: initial;
  width: 100px;
  right: 0;
  top: 160px;
}

#feature .feature-items .circle {
  position: absolute;
  -webkit-clip-path: initial;
          clip-path: initial;
  width: 250px;
  top: 250px;
}

#feature .feature-items .bin02 {
  position: absolute;
  -webkit-clip-path: initial;
          clip-path: initial;
  width: 100px;
  top: 230px;
  left: 90px;
}

#feature .feature-items .bin01 {
  position: absolute;
  -webkit-clip-path: initial;
          clip-path: initial;
  width: 100px;
  top: 230px;
  left: 150px;
}

#feature .container {
  position: relative;
}

#feature .container .more {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: -200px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 100px;
  z-index: 99;
}

#feature .container .more a {
  color: #1a2d51;
  text-decoration: none;
  font-weight: bold;
}

#feature .container .more .beer {
  width: 100px;
  position: absolute;
  right: 110px;
  bottom: 50px;
}

#feature .container .more .person {
  width: 200px;
  position: absolute;
  left: 380px;
  bottom: -170px;
}

#wave {
  width: 100%;
  height: 360px;
  background: url("../images/wave2.png") no-repeat center top;
  background-size: 100% auto;
  position: relative;
  display: flex;
}

#wave li {
  list-style: none;
  /*將清單序號關閉*/
}

#wave #news {
  width: 1150px;
  height: 200px;
  position: absolute;
  background: url("../images/line_deco.png") repeat-x;
  background-size: 30px auto;
  background-position: center top 0;
  top: 400px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
}

#wave #news ul:nth-of-type(1) {
  display: flex;
  margin: 45px 10px;
}

#wave #news ul:nth-of-type(1) li:nth-of-type(1) {
  list-style: none;
  /*將清單序號關閉*/
  background: #14274c;
  border-radius: 4px;
  line-height: 1;
  text-align: center;
  padding: 3px;
  margin: 0 10px;
}

#wave #news ul:nth-of-type(1) li:nth-of-type(1) a {
  color: #fff;
}

#wave #news ul:nth-of-type(1) li:nth-of-type(2) {
  margin: 0 100px 0px 0px;
}

#wave #news ul:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}

#wave #news ul:nth-of-type(2) li img {
  width: 90%;
  border-radius: 10px;
  margin: auto;
}

#wave .li-right {
  position: absolute;
  right: 40px;
}

#wave2 {
  width: 100%;
  height: 250px;
  background: url("../images/bg_top02.png") no-repeat center top #fcfaf7;
  background-size: 100% auto;
  position: relative;
  display: flex;
}

.wide_1080 {
  max-width: 1740px;
  width: 100%;
  padding: 0 10%;
}

.home_news {
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
  background: url("../images/wave2.png") no-repeat center top;
  background-size: 100% auto;
}

.home_news > div {
  padding-top: 10%;
}

.home_news .news-item {
  background: url("../images/line_deco.png") repeat-x;
  background-size: 30px auto;
  background-position: center top 0;
  display: flex;
  list-style: none;
  /*將清單序號關閉*/
  padding: 90px 0 0 0;
  margin: 0 0 90px 0;
}

.home_news .news-item li:nth-of-type(1) {
  background: #14274c;
  border-radius: 4px;
  line-height: 1;
  text-align: center;
  padding: 3px;
  margin: 0 10px;
}

.home_news .news-item li:nth-of-type(1) a {
  color: #fff;
}

.home_news .layout {
  margin: 0 auto 10px;
}

.home_news .layout img {
  width: 90%;
  border-radius: 10px;
  margin: auto;
}

#home_product {
  background: url("../images/bg_top02.png") no-repeat center top #fcfaf7;
  background-size: 2000px auto;
}

#home_product .product_title {
  margin: 0 0 0 0;
  padding: 280px 0 0 0;
}

#home_product .product_title .row > div {
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home_product .product_title .row > div img {
  width: 50%;
}

#home_product .product_title .row > div:nth-of-type(1) {
  justify-content: end;
}

#home_product .product_title .row > div:nth-of-type(2) {
  flex-direction: column;
  align-items: center;
}

#home_product .product_title .row > div:nth-of-type(3) {
  justify-content: start;
  align-items: center;
}

#home_product .product_list {
  margin: 0;
}

#home_product .product_list .list {
  border: 1px solid #e8e6df;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  margin-bottom: 60px;
}

#home_product .product_list .product_items > a {
  flex-direction: column;
  justify-content: center;
}

#home_product .product_list .product_items > a .txt_inline {
  background-color: #fff;
  text-align: left;
  padding: 5%;
}

#home_product .product_list .product_items > a .txt_inline h3 {
  padding-bottom: 50px;
}

#home_product .product_list .product_items > a .price {
  background-color: #e8e6df;
  justify-content: space-around;
  justify-items: center;
  padding: 20px 0;
  position: relative;
}

#home_product .product_list .product_items > a .price::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #cacaca;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  transition: .6s;
}

#home_product .product_list .product_items > a .price p {
  position: relative;
}

#home_product .product_list .product_items > a .price:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
/*# sourceMappingURL=style.css.map */