.container{
    width: 100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
img{
    display: block;
}
@for $i from 1 through $column {
    .col-#{$i}{
        flex: 0 0 100% / $column * $i;
    }
    .col {
        flex: 1 0 0;
    }
}
// 預期效果 col-breakpoint-column
@each $name,$width in $breakpoints {
    @media (min-width: $width){
        .container {
            width: $width;
            margin: auto;
        }
        @for $i from 1 through $column {
            .col-#{$name}-#{$i}{
                flex: 0 0 100% / $column * $i;
            }
            .col-#{$name}{
                flex: 1 0 0;
            }
        }
    }
}
[class^="col"]{
    padding-left: 10px;
    padding-right: 10px;
}